@font-face {
    font-family: Lato;
    src:url("./Lato-Regular.ttf");
}
body {
	font-family: Lato, serif;
	margin: 0;
	padding: 0;
	--text: #ffffff;
	--text-alt: #eee;
	--text-tri: #bbb;
	--background: #17151e;
	--background-element: #1e1c25;
	--primary: #464464;
	--secondary: #2c3172;
	--secondary-alt: #434999;
	--secondary-tri: #5c63c6;
	--accent: #99a0ad;
	color: var(--text);
	background-color: var(--background);
}
a {
	color: var(--secondary-tri);
}
.navbar {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
	background-color: var(--background-element);
	font-size: 16px;
}
.navbar ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.navbar li {
	padding: 7px;
	position: relative;
}
.navbar a {
	text-decoration: none;
	color: var(--text-tri);
	font-weight: bold;
}
.navbar :hover { /* ???? HUH */
	color: var(--text);
}
.navbar .active a {
	color: var(--text);
}
.navbar .active::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 3px;
	width: 100%;
	background-color: var(--primary);
}
.navbar span {
	color: var(--accent);
	font-weight: bold;
	font-style: italic;
}
.hero-section {
	text-align: left;
	padding: 8dvh 5vw;
	background: url("bg.png");
	background-size: cover;
	background-color: var(--background);
	background-blend-mode: soft-light;
}
.hero-section h1 {
	margin: 0;
	font-size: 2em;
}
.hero-section p {
	font-size: 1em;
	color: var(--text-alt);
}
.button {
	padding: 10px 20px;
	background-color: var(--secondary);
	color: var(--text);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	font-weight: bold;
	font-family: Lato, serif;
}
.button:hover { /* WHY DOES THIS NEED TO BE .button:hover INSTEAD OF .button :hover ?????? */
	background-color: var(--secondary-alt);
}
.button-disabled {
	padding: 10px 20px;
	background-color: #333;
	color: #777;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	/*text-decoration: line-through;*/
	font-weight: bold;
}

.services {
	display: flex;
	margin: 10px 0px;
	justify-content: center;
	flex-flow: row wrap;
	background-color: var(--background);
}

.service {
	background-color: var(--background-element);
	margin: 10px;
	padding: 20px;
	flex: 1; /* This is something I tried looking up for 30 minutes, what the fuck do you mean "flex: 1" just WORKS */
    flex-basis: min-content;
    min-width: 15em;
	min-height: 20dvh;
	text-align: left;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border: none;
	border-radius: 5px;
}

.service h3 {
	margin-top: 0;
}

.service p {
	color: var(--text-alt);
}

.subtext {
	font-size: 0.66em !important;
	color:var(--text-tri) !important;
	font-style: italic;
}

.nice-container {
	width: 80%;
	margin: auto;
}

.content {
	background-color: var(--background-element);
	margin: 10px;
	padding: 20px;
	text-align: left;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border: none;
	border-radius: 5px;
	font-family: Lato;
}

.content h2 {
	margin-top: 0;
}
